# Created by .ignore support plugin (hsz.mobi)
### C template
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
### C++ template
# Compiled Object files
*.slo
# Precompiled Headersc
# Compiled Dynamic libraries
# Fortran module files
*.mod

# Compiled Static libraries
*.lai
# Executables
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
/RasberryPi Home/ENGR101Team1
#ignore the rpi image and zip, thats downloaded on first run
*.img
*.zip
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

